.section {
  position: relative;
  display: flex;
  width: 100%;
  place-content: space-between;
  background: #0a2229;
  color: white;
  margin-top: 4rem;
  max-height: 108rem;
  max-height: 40rem;
}
.section img {
  width: 156rem;
  max-height: 108rem;
}
.section div h2 {
  color: var(--main);
  margin: 2rem 0;
  font-weight: 700;
  letter-spacing: 0.01em;
}
.section div h3 {
  font-style: normal;
  font-size: 24px;
  line-height: 46px;
  letter-spacing: 0.02em;
}

.content {
  position: absolute;
  width: 50%;
  height: max-content;
  text-align: center;
  top: 25%;
  left: 0;
  font-size: 20px;
  margin: auto;
  text-align: right;
  padding: 0 4rem;
}
.content h3 {
  margin-bottom: 2rem;
}

.content a {
  display: flex;
  width: 10.5rem;
  background-color: white;
  padding: 0.4rem 1rem;
  color: black;
  text-decoration: none;
  border-radius: 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 31px;
  letter-spacing: 0.01em;
}

.content a div {
  margin: 0.2rem 0 0 0.8rem;
}
.img {
  display: inline-block;
}
.mobImg {
  display: none;
  width: 100%;
}
.content a:hover {
  color: var(--main);
}
@media screen and (max-width: 1100px) {
  .section {
    display: block;
    margin-top: 0rem;
    padding-bottom: 0;
  }
  .img {
    display: none;
  }
  .mobImg {
    display: inline-block;
  }
  .content {
    position: static;
    text-align: center;
    width: 100%;
    padding: 2rem;
    padding-bottom: 0;
  }
  .section img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    background-color: redx;
  }

  .content a {
    margin: auto;
  }
  .section div h3 {
    font-size: 16px;
    line-height: 26px;
  }
}
