.container {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}
.container img {
  margin: 0 0.3rem;
}

.sidebar {
  width: 15rem;
  flex-shrink: 0;
  color: white;
  overflow: hidden;
}

.sidebar-item {
  padding: 0.75em 1em;
  display: block;
  transition: background-color 0.15s;
  border-radius: 5px;
  text-align: left;
  margin-left: 2rem;
}
.sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 17px 0 0 17px;
}

.sidebar-title {
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
}
.sidebar-title span i {
  display: inline-block;
  width: 1.5em;
}
.sidebar-title .toggle-btn {
  cursor: pointer;
  transition: transform 0.3s;
}
.sidebar-item.open > .sidebar-title .toggle-btn {
  transform: rotate(180deg);
}
.sidebar-content {
  padding-top: 0.25em;
  height: 0;
  overflow: hidden;
}
.sidebar-item.open > .sidebar-content {
  height: auto;
}

.sidebar-item.plain {
  color: white;
  text-decoration: none;
}

.sidebar-item.plain:hover {
  text-decoration: underline;
}

.sidebar-item.plain i {
  display: inline-block;
  width: 1.7em;
}

.dot {
  position: absolute;
  opacity: 0.15;
  width: 2rem;
  left: 7rem;
  top: 1rem;
}

.profile {
  display: block;
  text-align: center;
  width: 7.5rem;
  height: 7.5rem;
  isolation: isolate;
  object-fit: cover;
  border-radius: 50%;
  justify-content: center;
  margin: 4rem auto 1rem;
}
.mobnav {
  position: fixed;
  display: flex;
  place-content: space-between;
  text-align: center;
  width: 100%;
  bottom: 1rem;
  font-size: 30px;
  margin: auto;
}

.mobnav div span {
  padding: 1rem;
}
.link {
  color: white;
  cursor: pointer;
}
.SideBarItem {
  display: block;
}
.mobItem {
  position: relative;
  display: none;
}
.PRealtive {
  position: relative;
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .sidebar {
    background-image: url("../../../../public/images/mobBtn.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    position: fixed;
    top: initial;
    bottom: -1.5rem;
    left: 0;
    right: -0.5rem;
    min-height: 13rem;
  }
  .profile,
  .dot,
  img {
    display: none;
  }
  .mobnav {
    padding-top: 5%;
  }
  .SideBarItem {
    display: none;
  }
  .mobItem {
    display: inline-block;
  }
  .container {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .sidebar {
    bottom: -0.5rem;
    left: 0;
    right: -0.5rem;
    min-height: 9rem;
  }
  .mobnav {
    padding-top: 0%;
  }
}
@media screen and (max-width: 350px) {
  .sidebar {
    bottom: -6%;
  }
  .mobnav {
    padding-top: 0%;
  }
}
