@font-face {
  font-family: "YekanBakh";
  src: local("YekanBakh"), local("sans-serif "),
    url("./fonts/YekanBakh/YekanBakh-Regular.ttf") format("truetype");

  font-weight: normal;
}
@font-face {
  font-family: "YekanBakh" !important;
  src: local("YekanBakh"), local("sans-serif "),
    url("./fonts/YekanBakh/YekanBakh-Bold.ttf") format("truetype");
  font-weight: bold;
}

:root {
  --main: #2f99a5;
  --danger: #c11750;
  --success: #128b52;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  direction: rtl;
  scroll-behavior: smooth;
}
body,
html,
input {
  font-family: "YekanBakh", "Raleway", sans-serif !important;
  /* overflow: hidden; */
  padding: 0 !important;
  margin: 0;
}

body button {
  cursor: pointer;
}
button:disabled {
  cursor: initial;
}

.main {
  display: flex;
  height: 100vh;
}

.background {
  background-color: var(--main);
}

.NotFound {
  isolation: isolate;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #eeeeee;
  width: auto;
  text-align: center;
  margin-top: 15rem;
  font-size: 25px;
}
.swiper {
  overflow: hidden;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0rem;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 14px !important;
  padding: 0rem;
  margin: 0rem;
  align-items: center;
}

.swiper-slide img {
  object-fit: cover;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: #2f99a5;
  display: block;
  font-size: 14px !important;
  margin: 0 0rem;
  border-radius: 50%;
  font-weight: bolder;
}
.swiper-button-prev:after {
  margin-left: 2.5rem;
}
.swiper-button-next:after {
  margin-right: 2.5rem;
}

.swiper-wrapper {
  max-width: 100vh;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.Toastify__toast-body {
  font-family: "YekanBakh", "Raleway", sans-serif;
}

input:focus-visible {
  outline: 0;
}
.position-relative {
  position: relative;
}
