@font-face {
  font-family: "YekanBakh";
  src: local("YekanBakh"),
    url("./fonts/YekanBakh/YekanBakh-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "YekanBakh" !important;
  src: local("YekanBakh"),
    url("./fonts/YekanBakh/YekanBakh-Bold.ttf") format("truetype");
  font-weight: bold;
}

:root {
  --main: #2f99a5;
  --danger: #c11750;
  --success: #128b52;
}

html {
  padding: 0;
  margin: 0;
  font-family: "YekanBakh" !important;
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  direction: rtl;
  scroll-behavior: smooth;
}
body {
  padding: 0 !important;
  font-family: "YekanBakh";
}

.main {
  display: flex;
  height: 100vh;
}

.NotFound {
  isolation: isolate;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #eeeeee;
  width: auto;
  text-align: center;
  margin-top: 15rem;
  font-size: 25px;
}
.swiper {
  overflow: hidden;
  max-width: 35rem;
  height: 100%;
  padding: 0 1rem;
}

.swiper-slide {
  text-align: center;
  font-size: 14px !important;
  background: #fff;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: #2f99a5;
  font-size: 14px !important;
  margin: 0 0.5rem;
  border-radius: 50%;
  font-weight: bolder;
}
.swiper-button-prev:after {
  margin-left: 2.5rem;
}
.swiper-button-next:after {
  margin-right: 2.5rem;
}

.swiper-wrapper {
  max-width: 100vh;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.Toastify__toast-body {
  font-family: "YekanBakh";
}

input:focus-visible {
  outline: 0;
}
