@font-face {
  font-family: "YekanBakh";
  src: local("YekanBakh"), local("sans-serif "),
    url("./fonts/YekanBakh/YekanBakh-Regular.ttf") format("truetype");

  font-weight: normal;
}
@font-face {
  font-family: "YekanBakh" !important;
  src: local("YekanBakh"), local("sans-serif "),
    url("./fonts/YekanBakh/YekanBakh-Bold.ttf") format("truetype");
  font-weight: bold;
}

:root {
  --main: #2f99a5;
  --danger: #c11750;
  --success: #128b52;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  direction: rtl;
  scroll-behavior: smooth;
}
body,
html,
input {
  font-family: "YekanBakh", "Raleway", sans-serif !important;
  /* overflow: hidden; */
  padding: 0 !important;
  margin: 0;
}

body button {
  cursor: pointer;
}
button:disabled {
  cursor: initial;
}

.main {
  display: flex;
  height: 100vh;
}

.background {
}

.NotFound {
  isolation: isolate;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #eeeeee;
  width: auto;
  text-align: center;
  margin-top: 15rem;
  font-size: 25px;
}
.swiper {
  overflow: hidden;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0rem;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 14px !important;
  padding: 0rem;
  margin: 0rem;
  align-items: center;
}

.swiper-slide img {
  object-fit: cover;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: #2f99a5;
  display: block;
  font-size: 14px !important;
  margin: 0 0rem;
  border-radius: 50%;
  font-weight: bolder;
}
.swiper-button-prev:after {
  margin-left: 2.5rem;
}
.swiper-button-next:after {
  margin-right: 2.5rem;
}

.swiper-wrapper {
  max-width: 100vh;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.Toastify__toast-body {
  font-family: "YekanBakh", "Raleway", sans-serif;
}

input:focus-visible {
  outline: 0;
}
.position-relative {
  position: relative;
}
.bg-white {
  background-color: white;
}

.plan-container {
  display: flex;
  text-align: center;
  width: 100%;

  margin: 3rem auto;
}
.plan {
  margin-left: -5px;
  width: 100%;
  display: inline-block;

  vertical-align: top;
  border-collapse: collapse;
  margin: 0 auto;
}
table {
  width: 100%;
  min-width: 15rem;
  border-radius: 4px;
  border-spacing: 0;
  border-collapse: collapse;
}
.table-1 {
  width: 100%;
  min-width: 10rem;
}
.table-2 {
  width: 100%;
  min-width: 10rem;
}
.table-4 {
  width: 100%;
  min-width: 10rem;
}
.table-3 {
  width: 70%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  background: rgba(46, 92, 154, 0.06);
  border-radius: 24px !important;
  overflow: hidden;
}
.table-3 th {
  background-color: black;
  color: white;
}
.features {
  line-height: 50px;
}
th {
  /* border-bottom: 1px solid #ddd; */
}
.lead {
  line-height: 60px;
}
tbody tr:nth-child(2n + 1) {
  background: rgba(46, 92, 154, 0.02);
}
.data {
  line-height: 50px;
  text-align: center;
}
.table-2 .features,
.table-3 .features,
.table-4 .features {
  display: none;
}
.button {
  padding: 10px 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: inherit;
  background: var(--main);
  font-weight: 900;
  font-size: 18px;
  color: #fff;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
  outline: 0;
}
.btn a {
  text-decoration: none;
  color: inherit;
}
/* button:focus,
button:hover {
  background: #eb00a6;
}
button:active {
  background: #ad007a;
} */
@media screen and (max-width: 1028px) {
  .plan-container {
    display: block;
    margin: auto;
  }
  .table-3 {
    width: 420px;
  }
  .table-3 .features {
    display: table-cell;
  }
}
@media screen and (max-width: 637px) {
  .plan {
    display: block;
  }
  table {
    margin: auto;
    width: 420px;
  }
  .table-2 .features,
  .table-4 .features {
    display: table-cell;
  }
}
