.card {
  background-color: white;
  position: relative;
  width: calc(50% - 20px);
  max-width: 40rem;
  margin: 0rem auto;
  padding: 0rem 2.5rem;
  min-height: 33rem;
  background: #ffffff;
  border: none;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  padding-top: 4.8rem;
}
@media screen and (max-width: 1050px) {
  .card {
    width: 100%;
    margin: 3rem 0;
    padding-top: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .card {
    padding-top: 1rem;
  }
}

@media screen and (max-width: 330px) {
  .card {
    padding: 1rem 0.5rem;
  }
}
